<!-- ========================= SECTION PAGETOP ========================= -->

<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">
  
<div class="row">
  
	<aside class="col-md-3">
    
		<ul class="list-group">
			<a class="list-group-item " href="/account"> Account overview  </a>
			<a class="list-group-item active" href="/account/orderhistory"> My Orders </a>
			<a class="list-group-item" href="/account/review"> My Comments </a>
			<a class="list-group-item" href="#"> Return and refunds </a>
            <a class="list-group-item " href="/account/myvouchers"> Vouchers</a>
			<a class="list-group-item " href="/account/loyaltyprogram"> Rewards Program</a>
		</ul>
	</aside> <!-- col.// -->
	<main class="col-md-9">
        
    <div class="card">
    	<div class="card-body">
    		<h4>Order History</h4>
      		<span> View and manage your orders </span>
    	</div>
  	</div>
  	<br>
  	<div class="card">

    <div class="card-body">
    	<div class="search-bar" >
    		<i class="fa fa-magnifying-glass" style=" position: absolute;right:-210px;top:30px;width:30%;float:right; "></i>
          	<input type="text" class="form-control" name=""  id="searchbar" onkeyup="search_animal()"  placeholder="Search Something" style="width:30%;float:right;"> 
      	</div>
    </div>
    
    
    {{!-- <h5 class="card-title" style="padding:10px 10px 10px 20px;"> All Orders </h5>  --}}
   

      <div class="card order-scroll" style="width:100%;overflow-y:scroll;border:none;height:500px;" >
          
          {{#each orders}}
	<div class="modal fade" id="deliveryStatusModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="deliveryStatusModal{{this.id}}Label" aria-hidden="true">
  	  <div class="modal-dialog" role="document">
    	<div class="modal-content" style="width: 600px">
      	  <div class="modal-header">
        	<h5 class="modal-title" id="deliveryStatusModal{{this.id}}Label">Delivery status</h5>
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          	  <span aria-hidden="true">&times;</span>
        	</button>
      	  </div>
      	  <div class="modal-body">


        	<div class="card border-top border-bottom border-3">
          	  <div class="card-body p-5">

            	<div class="row">
              	  <div class="col mb-3">
                	<p class="small text-muted mb-1">Order No:</p>
                	<p>{{this.id}}</p>
              	  </div>
            	</div>

            	<p class="lead fw-bold mb-4 pb-2 text-primary">Tracking Order</p>

            	<div class="row">
              	  <div class="col-lg-12">

                	<div class="horizontal-timeline">

                  	  <ul class="list-inline items d-flex justify-content-between">
                    	<li class="list-inline-item items-list 
                    	{{#if this.payment_status}}
                    	active
                    	{{/if}}
                    	">
                    	{{#if this.payment_status}}
                      	  <p class="py-1 px-2 rounded text-white small bg-primary">Ordered</p>
                    	{{else}}
                      	  <p class="py-1 px-2 small">Ordered</p>
                    	{{/if}}
                    	</li>

                    	<li class="list-inline-item items-list
                    	{{#if (dateHasPassed this.DeliveryDetail.ShipOutDate)}}
                    	active
                    	{{/if}}
                    	">
                    	{{#if (dateHasPassed this.DeliveryDetail.ShipOutDate)}}
                      	  <p class="py-1 px-2 rounded text-white small bg-primary">Ship out</p>
                      	  <p class="muted small">{{dateFormat this.DeliveryDetail.ShipOutDate "MMMM Do, YYYY"}}</p>
                    	{{else}}
                      	  <p class="py-1 px-2 small">Ship out</p>
                    	{{/if}}
                    	</li>

                    	<li class="list-inline-item items-list
                    	{{#if (dateHasPassed this.DeliveryDetail.ReceivedDate)}}
                    	active
                    	{{/if}}
                    	">
                    	{{#if (dateHasPassed this.DeliveryDetail.ReceivedDate)}}
                      	  <p class="py-1 px-2 rounded text-white small bg-primary">On the way</p>
                      	  <p class="muted small">{{dateFormat this.DeliveryDetail.ReceivedDate "MMMM Do, YYYY"}}</p>
                    	{{else}}
                      	  <p class="py-1 px-2 small">On the way</p>
                    	{{/if}}
                    	</li>

                    	<li style="margin-right: 8px;" class="list-inline-item items-list
                    	{{#if (dateHasPassed this.DeliveryDetail.CompleteDate)}}
                    	active
                    	{{/if}}
                    	">
                    	{{#if (dateHasPassed this.DeliveryDetail.CompleteDate)}}
                      	  <p class="py-1 px-2 rounded text-white small bg-primary" style="margin-right: -8px;">Delivered</p>
                      	  <p class="muted small">{{dateFormat this.DeliveryDetail.CompleteDate "MMMM Do, YYYY"}}</p>
                    	{{else}}
                      	  <p class="py-1 px-2 small" style="margin-right: -8px;">Delivered</p>
                    	{{/if}}
                    	</li>

                  	  </ul>

                	</div>

              	  </div>
            	</div>

            	<p class="mt-4 pt-2 mb-0">Want any help? <a href="#!" class="link">Please contact
                	us</a></p>

          	  </div>
        	</div>


      	  </div>
      	  <div class="modal-footer">
        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      	  </div>
    	</div>
  	  </div>
	</div>
	<style>
		@media (min-width: 1025px) {
		.h-custom {
		height: 100vh !important;
		}
		}

		.horizontal-timeline .items {
		border-top: 2px solid #ddd;
		}

		.horizontal-timeline .items .items-list {
		position: relative;
		margin-right: 0;
		}

		.horizontal-timeline .items .items-list:before {
		content: "";
		position: absolute;
		height: 8px;
		width: 8px;
		border-radius: 50%;
		background-color: #ddd;
		top: 0;
		margin-top: -5px;
		}

		.horizontal-timeline .items .items-list.active:before {
		background-color: #3167eb;
		}

		.horizontal-timeline .items .items-list:last-child:before {
		content: "";
		position: absolute;
		height: 8px;
		width: 8px;
		border-radius: 50%;
		background-color: #ddd;
		top: 0;
		right: -8px;
		margin-top: -5px;
		}

		.horizontal-timeline .items .items-list {
		padding-top: 15px;
		}

		.horizontal-timeline .items .items-list.active:last-child:before {
		background-color: #3167eb;
		}
	</style>
          <!--  ======== item order ======== -->
           {{#equals this.payment_status 0}}
          <article class="card border-danger mb-4  order-list-content" style="margin:auto;width:95% ">
          {{/equals}}
          {{#equals this.payment_status 1}}
            <article class="card border-primary mb-4 order-list-content  "style="margin:auto;width:95% ">
          {{/equals}}
          
          <div class="card-body" >
            <header class="d-lg-flex">
              <div class="flex-grow-1">
                <h6 class="mb-0 order-list">Order ID: {{this.id}} <i class="dot"></i>  
                  <span class="text-success"> {{this.delivery_status}} </span>
                </h6>
                <span class="text-muted">Date: {{dateFormat this.createdAt 'DD MMM YYYY'}}</span>
              </div>
              <div>
                  <a href="/account/cancelorderform/{{this.id}}" class="btn btn-sm btn-outline-danger">Cancel order</a>
            	  <a href="#" data-toggle="modal" data-target="#deliveryStatusModal{{this.id}}" class="btn btn-sm btn-primary">Track order</a> 
                   {{#equals this.payment_status 0}}
                  <a href="/order/payment/{{this.id}}" class="btn btn-sm btn-info">Complete Payment</a> 
                {{/equals}}
              </div>
            </header>
            <hr>
            <div class="row">
              <div class="col-lg-4">
                <p class="mb-0 text-muted">Contact</p>
                <p class="m-0"> 
                  {{this.Shippinginfo.Lname}} {{this.Shippinginfo.Fname}}<br> Email: {{this.User.email}} </p>
              </div> <!-- col.// -->
              <div class="col-lg-4 border-start">
                <p class="mb-0 text-muted">Shipping address</p>
                <p class="m-0"> Singapore <br> 
                  {{this.Shippinginfo.address}} , {{this.Shippinginfo.zipcode}}
                  </p>
              </div> <!-- col.// -->
              <div class="col-lg-4 border-start">
                <p class="mb-0 text-muted">Payment</p>
                <p class="m-0">
                  {{#each this.Payments}}
                    <span class="text-success"> Visa  **** {{this.last4digit}}</span> <br> 
                  {{/each}}
                  Shipping fee:  ${{this.shipping_fee}} <br> 
                  Discount: ${{this.discount}} <br>
                  Total paid:  ${{this.amount}}
                </p>
              </div> <!-- col.// -->
            </div> <!-- row.// -->
            <hr>
            <ul class="row">
              {{#each this.OrderItems}}
              <li class="col-xl-4  col-lg-6">
                <figure class="itemside mb-3">
                  <div class="aside">
                    <img width="72" height="72" src="/{{this.Product.image}}" class="img-sm rounded border">
                  </div>
                  <figcaption class="info">
                    <p class="title">{{this.Product.name}}</p>
                    <strong> {{this.quantity}}x = ${{multiply this.Product.price this.quantity}}.00 </strong>
                    <a href="/createPE/{{this.Product.id}}" class="btn btn-sm btn-outline-info">Give Rating</a>
                  </figcaption>
                </figure> 
              </li>
              {{/each}}
              
            </ul>
          </div> <!-- card-body .// -->
          </article> <!-- card .// --> 


        {{/each}}
      </div>
    </div>
	</main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right"> 
			&copy Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

<style>
   .order-scroll::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
.order-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.order-scroll::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.order-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>

<script>

    function search_animal() {
    let input = document.getElementById('searchbar').value
    input=input.toLowerCase();
    let x = document.getElementsByClassName('order-list');
    let y = document.getElementsByClassName("order-list-content")
    for (i = 0; i < x.length; i++) { 
        if (!x[i].innerHTML.toLowerCase().includes(input)) {
            y[i].style.display="none";
        }
        else {
            y[i].style.display="block";                 
        }
    }
}
</script>
