<div class="container">
  <br>
  <h3 class="text-center" style="color: black;">Order Cancellation Form</h3>
  <p class="text-center" style="font-size: 12px;">
    Please check your order information and fill in the reason for cancellation
  </p>
  <br>

<div class="card">
  <div class="card-body">
    <header class="d-lg-flex">
        <div class="flex-grow-1">
          <h6 class="mb-0">Order ID: {{order.id}} <i class="dot"></i>  
            <span class="text-success"> {{order.Payment.delivery_status}} </span>
          </h6>
          <span class="text-muted">Date: {{dateFormat order.createdAt 'DD MMM YYYY'}}</span>
        </div>
        
      </header>
      <hr>
      <div class="row">
        <div class="col-lg-4">
          <p class="mb-0 text-muted">Contact</p>
          <p class="m-0"> 
            {{order.Shippinginfo.Lname}} {{order.Shippinginfo.Fname}}<br> Email: {{order.User.email}} </p>
        </div> <!-- col.// -->
        <div class="col-lg-4 border-start">
          <p class="mb-0 text-muted">Shipping address</p>
          <p class="m-0"> Singapore <br> 
            {{order.Shippinginfo.address}} , {{order.Shippinginfo.zipcode}}
            </p>
        </div> <!-- col.// -->
        <div class="col-lg-4 border-start">
          <p class="mb-0 text-muted">Payment</p>
          <p class="m-0">
            <span class="text-success"> Visa  **** {{order.Payment.last4digit}}</span> <br> 
            Shipping fee:  ${{order.shipping_fee}} <br> 
            Discount: ${{order.discount}} <br>
            Total paid:  ${{order.amount}}
          </p>
        </div> <!-- col.// -->
      </div> <!-- row.// -->
      <hr>
      <ul class="row">
        {{#each order.OrderItems}}
          <li class="col-xl-4  col-lg-6">
            <figure class="itemside mb-3">
              <div class="aside">
                <img width="72" height="72" src="/{{this.Product.image}}" class="img-sm rounded border">
              </div>
              <figcaption class="info">
                <p class="title"> {{this.Product.name}}</p>
                <strong> {{this.quantity}}x = ${{multiply this.Product.price this.quantity}}.00 </strong>
              </figcaption>
            </figure> 
          </li>
        {{/each}}
      </ul>
  </div>
</div>
<br><br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Reason of Cancellation  </h5>

<form action="/account/cancelorderform/{{order.id}}" method="post">
	
	<div class="mb-3">
		<textarea class="form-control" name= "message" placeholder="Type here" maxlength="250" required></textarea>
	</div>

	<button type="submit" class="btn btn-primary">Submit request</button>
</form>

  </div>
</div>
<br><br><br>