<section class="section-content padding-y">
<div class="container">


<div class="row">
	<aside class="col-md-3">
		<ul class="list-group">
			<a class="list-group-item " href="/account"> Account overview  </a>
			<a class="list-group-item" href="#"> My wishlist </a>
			<a class="list-group-item" href="/account/orderhistory"> My Orders </a>
			<a class="list-group-item" href="/account/review"> My Comments </a>
			<a class="list-group-item" href="#"> Return and refunds </a>
            <a class="list-group-item active" href="/account/myvouchers"> Vouchers</a>
			<a class="list-group-item " href="/account/loyaltyprogram"> Rewards Program</a>
			<a class="list-group-item" href="#">Settings </a>
		</ul>
	</aside> <!-- col.// -->
	<main class="col-md-9">

		<article class="card mb-3">
			<div class="card-body">
				
				<figure class="icontext">
						<div class="icon">
							<img class="rounded-circle img-sm border" src="images/avatars/avatar3.jpg">
						</div>
						<div class="text">
							<strong> {{user.username}}</strong> <br> 
							{{user.email}} <br> 
							<a href="/account/edit">Edit</a>
						</div>
				</figure>
				<hr>
				<p>
					<i class="fa fa-map-marker text-muted"></i> &nbsp; My address:  
					 <br>
					None
					<a href="#" class="btn-link"> Edit</a>
				</p>

				

				<article class="card-group">
                    {{#each voucherlist}}
                        
                        {{#if this.voucheritem}}
                            {{#equals this.UserID ../user.id}}
                                {{#each this.voucheritem}}
                                    <div class="courses-container">
                                        <span class="top-left tag-2 tag-limited">Limited</span>
                                        <div class="course">
                                            
                                            <div class="course-preview">
                                                
                                                <br>
                                                <h6>{{this.voucher_cat}}</h6>
                                                <h4>{{this.voucher_title}}</h4>
                                                <br>
                                                <a href="#">Terms & Conditions</i></a>
                                            </div>
                                            <div class="course-info">
                                                <div class="progress-container">
                                                    <div class="progress"></div>
                                                     <span class="progress-text">
                                                        {{#each ../../voucheritem}}
															{{#equals this.VoucherListId ../../this/id }}
																{{#equals this.VoucherId ../this.id}}
																		{{!-- {{#equals this.id }} --}}
																		{{this.usage}} / 1 Vouchers Used
																{{/equals}}
															{{/equals}}
														{{/each}}
                                                     </span>
                                                   
                                                   
                                                </div>
                                                <h4>{{this.voucher_name}}</h4>
                                                <h5 >Min. Spend ${{this.spend}}</h5>
                                                <p style="color:grey;font-size: 13px;">
                                                    Valid Till: 31.12.2022
                                                </p>
                                                <h4 class="btn btn-primary" style="float:right;cursor:pointer;">{{this.voucher_code}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                {{/each}}
                            {{/equals}}
                        {{else}}
                            <h6>Customer {{../user.username}} has yet to claim any vouchers</h6>
                        {{/if}}
                    {{/each}}

					
					{{!-- {{#equals this.voucher_status "Active" }}
						<span class="top-right tag-2 tag-active">{{this.voucher_status}}</span>
					{{/equals}}
					{{#equals this.voucher_status "Inactive" }}

						<span class="top-right tag-2 tag-inactive">Fully Redeemed</span>
					{{/equals}} --}}
                    
                </article>
               
				

			</div> <!-- card-body .// -->
		</article> <!-- card.// -->

		{{!-- <article class="card  mb-3">
			<div class="card-body">
				<h5 class="card-title mb-4">Recent orders </h5>	

				<div class="row">
				<div class="col-md-6">
					<figure class="itemside  mb-3">
						<div class="aside"><img src="images/items/1.jpg" class="border img-sm"></div>
						<figcaption class="info">
							<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
							<p>Great item name goes here </p>
							<span class="text-warning">Pending</span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
				<div class="col-md-6">
					<figure class="itemside  mb-3">
						<div class="aside"><img src="images/items/2.jpg" class="border img-sm"></div>
						<figcaption class="info">
							<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
							<p>Machine for kitchen to blend </p>
							<span class="text-success">Departured</span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
				<div class="col-md-6">
					<figure class="itemside mb-3">
						<div class="aside"><img src="images/items/3.jpg" class="border img-sm"></div>
						<figcaption class="info">
							<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
							<p>Ladies bag original leather </p>
							<span class="text-success">Shipped  </span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
			</div> <!-- row.// -->

			<a href="#" class="btn btn-outline-primary"> See all orders  </a>
			</div> <!-- card-body .// -->
		</article> <!-- card.// --> --}}

	</main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->
{{!-- <footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right"> 
			&copy Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer> --}}
<!-- ========================= FOOTER END // ========================= -->

<style>
    .top-right{
  position: absolute;
  top: 8px;
  right: 10px;
}
.top-left{
  position: absolute;
  top: 30px;
  right: 565px;
  height: 20px;
  width: 160px;
  justify-content: center;
  align-items: center;
  display: flex;

}

.tag-2{
  z-index: 2;
  background: #cccccc;
  border-radius: 3px;
  font-size: 10px;
  margin: 0;
  color: white;
  padding: 6px 10px;
  text-transform: uppercase;

}
.tag-active {
  background-color: #47d4b5;
}

.tag-inactive {
  background-color:#D22B2B;
}

.tag-limited {
  background-color:#EEC20E;
}

.courses-container{
    position: relative;
}
.course {
    
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
    
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
    font-size:11px;
}

.course h4 {
	letter-spacing: 1px;
	margin: 10px 0;
    font-size:15px;
}

.course h5 {
	letter-spacing: 1px;
	margin: 10px 0;
    font-size:13px;
}

.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	max-width: 250px;
    min-width: 180px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 10%;
}

.progress-text {
	font-size: 11px;
	opacity: 0.6;
	letter-spacing: 1px;
}

</style>



