<section class="section-content padding-y">
<div class="container">


<div class="row">
	<aside class="col-md-3">
		<ul class="list-group">
			<a class="list-group-item " href="/account"> Account overview  </a>

			<a class="list-group-item" href="/account/orderhistory"> My Orders </a>
			<a class="list-group-item" href="/account/review"> My Comments </a>
			<a class="list-group-item" href="#"> Return and refunds </a>
            <a class="list-group-item active" href="/account/myvouchers"> Vouchers</a>
			<a class="list-group-item " href="/account/loyaltyprogram"> Rewards Program</a>
		
		</ul>
	</aside> <!-- col.// -->
	<main class="col-md-9">
		<div class="card">
			<div class="card-body">
			<h4>Vouchers</h4>
			<span> View and manage your vouchers </span>
			</div>
		</div>
		<br>
		<div class="card">
			<div class="card-body" >
				<form action="/CustomerVoucher/postvoucherlist" method="POST" id="redeem_code" class="">
					<div class="">
						<div class="row">
							<div class="col-3">
								<h6 class="" style="float:right;padding-top:8px;"> Code </h6>
							</div>
						
								<div class="col-5" >
									<input type="text" class="form-control" id="" name="code" placeholder="Enter code . . . " required  style="float:right;">
								</div>
								<div class="col-4" >
									
									<button class="btn btn-primary" type="submit"> Redeem </button>
								</div>
							
						</div>
					</div>
				</form>
			</div>
		</div>
		<br>
		<article class="card mb-3">
			<div class="card-body review" style="overflow-y:scroll;height:450px;">
				<div class="row">
					{{#each voucherlist}}
                        
                        {{#if this.voucheritem}}
                            {{#equals this.UserID ../user.id}}
                                {{#each this.voucheritem}}
									<div class="col-lg-6">
										
										<div class="course" style="height:85%">
													
											<div class="course-preview">

												<h6>{{this.voucher_type}}</h6>
												<h4>{{this.voucher_title}}</h4>
												
												<a href="#">Terms & Conditions</i></a>
											</div>
											<div class="course-info">
											
												<div class="badge badge-secondary" style="position:absolute;right:10px;top:10px;">
													<span class="progress-text" style="color:white;margin:5px;" >
													{{#each ../../voucheritem}}
														{{#equals this.VoucherListId ../../this/id }}
															{{#equals this.VoucherId ../this.id}}
																	{{!-- {{#equals this.id }} --}}
																	{{this.usage}} / 1 
															{{/equals}}
														{{/equals}}
													{{/each}}
													</span>
												</div>
												<h5> {{this.voucher_name}}</h5>
												<h5 style="font-size:0.8rem" >Min. Spend ${{this.spend}}</h5>
												
												<p style="color:grey;font-size: 13px;">
													Valid Till: 31.12.2022
												</p>
												<h5 class="copy-text" style="float:right;cursor:pointer;">
													<button class="btn btn-primary" style="font-size:0.8rem ;">
														{{this.voucher_code}}
													</button>
													<input type="hidden" value="O9FNAB0DX">
												</h5>
											</div>
										</div>
									</div>
								{{/each}}
							{{/equals}}
						{{/if}}
					{{/each}}
				</div>
			</div> <!-- card-body .// -->
		</article> <!-- card.// -->

		

	</main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->
{{!-- <footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right"> 
			&copy Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer> --}}
<!-- ========================= FOOTER END // ========================= -->

<style>
    .top-right{
  position: absolute;
  top: 8px;
  right: 10px;
}
.top-left{
  position: absolute;
  top: 30px;
  right: 565px;
  height: 20px;
  width: 160px;
  justify-content: center;
  align-items: center;
  display: flex;

}

.tag-2{
  z-index: 2;
  background: #cccccc;
  border-radius: 3px;
  font-size: 10px;
  margin: 0;
  color: white;
  padding: 6px 10px;
  text-transform: uppercase;

}
.tag-active {
  background-color: #47d4b5;
}

.tag-inactive {
  background-color:#D22B2B;
}

.tag-limited {
  background-color:#EEC20E;
}

.courses-container{
    position: relative;
}
.course {
    
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	max-height: 90%;
	margin-bottom:5px;
	
	overflow: hidden;
	width: 700px;
    
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
    font-size:11px;
}

.course h4 {
	letter-spacing: 1px;
	margin: 10px 0;
    font-size:15px;
}

.course h5 {
	letter-spacing: 1px;
	margin: 10px 0;
    font-size:13px;
}

.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	max-width: 250px;
    min-width: 180px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 60px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 10%;
}

.progress-text {
	font-size: 11px;
	opacity: 0.6;
	letter-spacing: 1px;
}

/* copy text */
.copy-text button:active {
	background: #809ce2;
}
.copy-text button:before {
	content: "Copied";
	position: absolute;
	top: 10px;
	right: 10px;
	background: #5c81dc;
	padding: 8px 10px;
	border-radius: 5px;
	font-size: 10px;
	display: none;
}
.copy-text button:after {
	content: "";
	position: absolute;
	top: -20px;
	right: 25px;
	width: 10px;
	height: 10px;
	background: #5c81dc;
	transform: rotate(45deg);
	display: none;
}
.copy-text.active button:before,
.copy-text.active button:after {
	display: block;
}


       .review::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
.review::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.review::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.review::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

</style>

<script>
let copyText = document.querySelector(".copy-text");
copyText.querySelector("button").addEventListener("click", function () {
	let input = copyText.querySelector("input");
	input.select();
	document.execCommand("copy");
	copyText.classList.add("active");
	console.log("Start")
	window.getSelection().removeAllRanges();
	setTimeout(function () {
	copyText.classList.remove("active");
	}, 2500);
});

</script>



