<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Order Management</h1>
    <p class="mb-4">Manage Orders</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Order Management</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Customer Email</th>
                            <th>No of items</th>
                            <th>Payment Status</th>
							<th>Order Status</th>
                            <th>Total Price</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>


                    <tbody>
                        {{#each orders }}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{this.User.email}}</td>
                                <td>{{sum_quantity this.OrderItems}}</td>

                                {{#equals this.payment_status 0 }}
                                    <td><p class="badge badge-danger">Unpaid</p></td>
	
                                {{/equals}}
                                {{#equals this.payment_status 1 }}
                                    <td><p class="badge badge-success">Paid</p></td>
                                {{/equals}}
								{{#equals this.order_status "Cancelled"}}
										<td><p class="badge badge-danger">Cancelled</p> </td>
								{{/equals}}
								{{#equals this.order_status null}}
										<td><p class="badge badge-success">Active</p> </td>
								{{/equals}}
                                <td>${{this.amount}}</td>
                                <td>{{dateFormat this.createdAt 'DD MMM YYYY'}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-4">
                                            <form action="/staff/manage-orders/cancel/{{this.id}}" method="get">
                                                <button type="button" title="Delete" class="btn btn-danger " data-toggle="modal" data-target="#deleteModal_{{this.id}}">
                                                    <i class="fas fa-ban"></i>
                                                </button>

                                                <!-- Delete Modal -->
                                                <div class="modal" id="deleteModal_{{ this.id }}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">

                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                            <h4 class="modal-title">Cancel Confirmation</h4>
                                                            <button type="button" class="btn-close" data-dismiss="modal"></button>
                                                            </div>

                                                            <!-- Modal body -->
                                                            <div class="modal-body">
                                                            Are you sure you want to delete {{this.id}}?
                                                            </div>

                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                            <input type="submit" value="Delete" class="btn btn-danger">

                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
										
                                        <div class="col-4">
											{{#notequals this.order_status "Cancelled"}}
                                            <button type="button" title="Delivery" class="btn btn-primary" data-toggle="modal" data-target="#deliveryStatusModal{{this.id}}">
                                                {{!-- <i class="far fa-eye"></i> --}}
												<i class="fa fa-truck"></i>
                                            </button>
											{{/notequals}}
                                            <div class="modal fade" id="deliveryStatusModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="deliveryStatusModal{{this.id}}Label" aria-hidden="true">
  	                                          <div class="modal-dialog" role="document">
    	                                        <div class="modal-content" style="width: 600px">
      	                                          <div class="modal-header">
        	                                        <h5 class="modal-title" id="deliveryStatusModal{{this.id}}Label">Delivery status</h5>
        	                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          	                                          <span aria-hidden="true">&times;</span>
        	                                        </button>
      	                                          </div>
      	                                          <div class="modal-body">


        	                                        <div class="card border-top border-bottom border-3">
          	                                          <div class="card-body p-5">

            	                                        <div class="row">
              	                                          <div class="col mb-3">
                	                                        <p class="small text-muted mb-1">Order No:</p>
                	                                        <p>{{this.id}}</p>
              	                                          </div>
            	                                        </div>

            	                                        <p class="lead fw-bold mb-4 pb-2 text-primary">Tracking Order</p>

            	                                        <div class="row">
              	                                          <div class="col-lg-12">

                	                                        <div class="horizontal-timeline">

                  	                                          <ul class="list-inline items d-flex justify-content-between">
                    	                                        <li class="list-inline-item items-list
                    	                                        {{#if this.payment_status}}
                    	                                        active
                    	                                        {{/if}}
                    	                                        ">
                    	                                        {{#if this.payment_status}}
                      	                                          <p class="py-1 px-2 rounded text-white small bg-primary">Ordered</p>
                    	                                        {{else}}
                      	                                          <p class="py-1 px-2 small">Ordered</p>
                    	                                        {{/if}}
                    	                                        </li>

                    	                                        <li class="list-inline-item items-list
                    	                                        {{#if this.DeliveryDetail.ShipOutDate}}
                    	                                        active
                    	                                        {{/if}}
                    	                                        ">
                    	                                        {{#if this.DeliveryDetail.ShipOutDate}}
                      	                                          <p class="py-1 px-2 rounded text-white small bg-primary">Ship Out</p>
                      	                                          <p class="muted small">{{dateFormat this.DeliveryDetail.ShipOutDate "MMMM Do, YYYY"}}</p>
                    	                                        {{else}}
                      	                                          <p class="py-1 px-2 small">Ship Out</p>
                    	                                        {{/if}}
                    	                                        </li>

                    	                                        <li class="list-inline-item items-list
                    	                                        {{#if this.DeliveryDetail.ReceivedDate}}
                    	                                        active
                    	                                        {{/if}}
                    	                                        ">
                    	                                        {{#if this.DeliveryDetail.ReceivedDate}}
                      	                                          <p class="py-1 px-2 rounded text-white small bg-primary">On the way</p>
                      	                                          <p class="muted small">{{dateFormat this.DeliveryDetail.ReceivedDate "MMMM Do, YYYY"}}</p>
                    	                                        {{else}}
                      	                                          <p class="py-1 px-2 small">On the way</p>
                    	                                        {{/if}}
                    	                                        </li>

                    	                                        <li style="margin-right: 8px;" class="list-inline-item items-list
                    	                                        {{#if this.DeliveryDetail.CompleteDate}}
                    	                                        active
                    	                                        {{/if}}
                    	                                        ">
                    	                                        {{#if this.DeliveryDetail.CompleteDate}}
                      	                                          <p class="py-1 px-2 rounded text-white small bg-primary" style="margin-right: -8px;">Delivered</p>
                      	                                          <p class="muted small">{{dateFormat this.DeliveryDetail.CompleteDate "MMMM Do, YYYY"}}</p>
                    	                                        {{else}}
                      	                                          <p class="py-1 px-2 small" style="margin-right: -8px;">Delivered</p>
                    	                                        {{/if}}
                    	                                        </li>

                  	                                          </ul>

                	                                        </div>

              	                                          </div>
            	                                        </div>
                    	                                {{#if this.DeliveryDetail.CompleteDate}}
            	                                            <p class="lead fw-bold mb-4 pb-2 text-primary">Order delivered</p>
                    	                                {{else}}
            	                                            <p class="lead fw-bold mb-4 pb-2 text-primary">Update status</p>
            	                                            <div class="row">
            	                                                <div class="col">
            	                                                    <form method="post" action="/staff/manage-orders/delivery-detail/{{this.DeliveryDetail.id}}">
            	                                                        <div class="d-flex justify-content-end">
            	                                                            <button class="btn btn-primary">Next status</button>
            	                                                        </div>
            	                                                        {{#if this.DeliveryDetail.ReceivedDate}}
																			<input type="hidden" name="deliveryStage" value="received">
																		{{else}}
                    	                                        			{{#if this.DeliveryDetail.ShipOutDate}}
																				<input type="hidden" name="deliveryStage" value="on the way">
																			{{else}}
																				<h6>{{this.DeliveryDetail.ShipOutDate}}</h6>
																				<input type="hidden" name="deliveryStage" value="ship">
																			{{/if}}
            	                                                        {{/if}}
                                                                    </form>
            	                                                </div>
            	                                            </div>
            	                                        {{/if}}

          	                                          </div>
        	                                        </div>


      	                                          </div>
      	                                          <div class="modal-footer">
        	                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      	                                          </div>
    	                                        </div>
  	                                          </div>
	                                        </div>
	                                        <style>
		                                        @media (min-width: 1025px) {
		                                        .h-custom {
		                                        height: 100vh !important;
		                                        }
		                                        }

		                                        .horizontal-timeline .items {
		                                        border-top: 2px solid #ddd;
		                                        }

		                                        .horizontal-timeline .items .items-list {
		                                        position: relative;
		                                        margin-right: 0;
		                                        }

		                                        .horizontal-timeline .items .items-list:before {
		                                        content: "";
		                                        position: absolute;
		                                        height: 8px;
		                                        width: 8px;
		                                        border-radius: 50%;
		                                        background-color: #ddd;
		                                        top: 0;
		                                        margin-top: -5px;
		                                        }

		                                        .horizontal-timeline .items .items-list.active:before {
		                                        background-color: #3167eb;
		                                        }

		                                        .horizontal-timeline .items .items-list:last-child:before {
		                                        content: "";
		                                        position: absolute;
		                                        height: 8px;
		                                        width: 8px;
		                                        border-radius: 50%;
		                                        background-color: #ddd;
		                                        top: 0;
		                                        right: -8px;
		                                        margin-top: -5px;
		                                        }

		                                        .horizontal-timeline .items .items-list {
		                                        padding-top: 15px;
		                                        }

		                                        .horizontal-timeline .items .items-list.active:last-child:before {
		                                        background-color: #3167eb;
		                                        }
	                                        </style>
                                        </div>
										<div class="col-4">
											<button type="button" title="View" class="btn btn-secondary " data-toggle="modal" data-target="#viewModal_{{this.id}}">
												<i class="fas fa-eye"></i>
											</button>

											<!-- Delete Modal -->
											<div class="modal" id="viewModal_{{ this.id }}">
												<div class="modal-dialog">
													<div class="modal-content"style="width: 800px; margin-left: -150px">

														<!-- Modal Header -->
														<div class="modal-header">
														<h4 class="modal-title">Order Detail</h4>
														<button type="button" class="btn-close" data-dismiss="modal"></button>
														</div>

														<!-- Modal body -->
														<div class="modal-body">
														{{#equals this.payment_status 0}}
														<article class="card border-danger mb-4  order-list-content" style="margin:auto;width:95% ">
														{{/equals}}
														{{#equals this.payment_status 1}}
															<article class="card border-primary mb-4 order-list-content  "style="margin:auto;width:95% ">
														{{/equals}}
														
														<div class="card-body" >
															<header class="d-lg-flex">
															<div class="flex-grow-1">
																<h6 class="mb-0 order-list">Order ID: {{this.id}} <i class="dot"></i>  
																<span class="text-success"> {{this.delivery_status}} </span>
																</h6>
																<span class="text-muted">Date: {{dateFormat this.createdAt 'DD MMM YYYY'}}</span>
															</div>
													
															</header>
															<hr>
															<div class="row">
															<div class="col-lg-4">
																<p class="mb-0 text-muted">Contact</p>
																<p class="m-0"> 
																{{this.Shippinginfo.Lname}} {{this.Shippinginfo.Fname}}<br> Email: {{this.User.email}} </p>
															</div> <!-- col.// -->
															<div class="col-lg-4 border-start">
																<p class="mb-0 text-muted">Shipping address</p>
																<p class="m-0"> Singapore <br> 
																{{this.Shippinginfo.address}} , {{this.Shippinginfo.zipcode}}
																</p>
															</div> <!-- col.// -->
															<div class="col-lg-4 border-start">
																<p class="mb-0 text-muted">Payment</p>
																<p class="m-0">
																<span class="text-success"> Visa  **** {{this.Payment.last4digit}}</span> <br> 
																Shipping fee:  ${{this.shipping_fee}} <br> 
																Discount: ${{this.discount}} <br>
																Total paid:  ${{this.amount}}
																</p>
															</div> <!-- col.// -->
															</div> <!-- row.// -->
															<hr>
															<ul class="row">
															{{#each this.OrderItems}}
															<li class="col-xl-4  col-lg-6">
																<figure class="itemside mb-3">
																<div class="aside">
																	<img width="72" height="72" src="/{{this.Product.image}}" class="img-sm rounded border">
																</div>
																<figcaption class="info">
																	<p class="title">{{this.Product.name}}</p>
																	<strong> {{this.quantity}}x = ${{multiply this.Product.price this.quantity}}.00 </strong>
																</figcaption>
																</figure> 
															</li>
															{{/each}}
															
															</ul>
														</div> <!-- card-body .// -->
														</article> <!-- card .// --> 
														</div>
														<!-- Modal footer -->
														<div class="modal-footer">
														<input type="submit" value="Delete" class="btn btn-danger">

														<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
														</div>
													</div>
												</div>
											</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
