{{!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    
    
    <form action="" method="POST">
        <input type="text" name="id" placeholder="Referral Code" value="" hidden>
        <input type="text" name="card" placeholder="Referral Code" value="new" hidden>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    
       
        {{#each User_Card}}
            
    
            <form action="" method="POST">
                <input type="text" name="card" placeholder="Referral Code" value="current" hidden>
                <input type="text" name="id" placeholder="Referral Code" value="{{this.id}}" hidden>
                <button type="submit" class="btn btn-primary">Order</button>
            </form>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form action="" method="POST">
                        <input type="text" name="card" placeholder="Referral Code" value="item" hidden>
                        <input type="text" name="cost" placeholder="Referral Code" value="250" hidden>
                        <input type="text" name="id" placeholder="Referral Code" value="{{this.id}}" hidden>
                        <button type="submit" class="btn btn-primary">Claim</button>
                    </form>
                </div>
            </div>
            
                 <h1>
                {{this.Active_Points}}
                {{this.authorID}}
                
                <br>
                {{this.Expired_Points}}
                <br>
                {{this.Used_Points}}
                <br>
                {{this.Status}}
                </h1>
            
        {{/each}}
  </div>
  
</div> --}}

<div class="card loyalty-card" style="width:40rem;" >
  <div class="card-body">
    <h5 class="card-title">James Mom</h5>
    <p class="card-text"><i class="fas fa-user-alt"></i> 24510DHA93</p>
    <div class="point-card">
        <h6 class="point-name">Keyhub Points</h6>
        <h3 class="points" >700</h3>
    </div>
    <br>
    <div class="progress-points">
        <div class="row">
            <div class="col-3">
                <button class="btn btn-secondary" disabled>BASIC</button>
            </div>
            <div class="col-9" style="padding-top:5px;">
                <div class="progress" style="height:8px ;">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="total-points">1000 / 10000</span>
                <span class="rank">Bronze</span>
            </div>
        </div> 
    </div>
    <br>
   
  </div>
</div>
<style>
    .loyalty-card{
        margin:auto;
        margin-top:40px;
    
    }
    .point-card{
        position: absolute;
        right:23px;
        top:16px;
    }
    .points{
        float: right;
    }
    .rank{
        float: right;
    }
    
</style>