{{!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    
    
    <form action="" method="POST">
        <input type="text" name="id" placeholder="Referral Code" value="" hidden>
        <input type="text" name="card" placeholder="Referral Code" value="new" hidden>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    
       
        {{#each User_Card}}
            
    
            <form action="" method="POST">
                <input type="text" name="card" placeholder="Referral Code" value="current" hidden>
                <input type="text" name="id" placeholder="Referral Code" value="{{this.id}}" hidden>
                <button type="submit" class="btn btn-primary">Order</button>
            </form>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form action="" method="POST">
                        <input type="text" name="card" placeholder="Referral Code" value="item" hidden>
                        <input type="text" name="cost" placeholder="Referral Code" value="250" hidden>
                        <input type="text" name="id" placeholder="Referral Code" value="{{this.id}}" hidden>
                        <button type="submit" class="btn btn-primary">Claim</button>
                    </form>
                </div>
            </div>
            
                 <h1>
                {{this.Active_Points}}
                {{this.authorID}}
                
                <br>
                {{this.Expired_Points}}
                <br>
                {{this.Used_Points}}
                <br>
                {{this.Status}}
                </h1>
            
        {{/each}}
  </div>
  
</div> --}}


    <div class="loyalty-box" >
        
            <div class="card loyalty-card" style="width:45rem ;">
                <div class="card-body">
                    <h5 class="card-title"> <i class="fas fa-user-alt"></i> &nbsp James Mom</h5>
                    <p class="card-text"><i class="fas fa-id-card"></i>&nbsp 24510DHA93</p>
                    <div class="point-card">
                        <h6 class="point-name">Total Keys</h6>
                        <h3 class="points" >700</h3>
                    </div>
                    <br>
                    <div class="progress-points">
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-secondary " style="width:8rem;"disabled>Earn More</button>
                            </div>
                            <div class="col-9" style="padding-top:5px;">
                                <div class="span"></div>
                                <div class="progress" style="height:8px ;">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="total-points">1000 / 10000</span>
                                <span class="rank">Bronze</span>
                            </div>
                        </div> 
                    </div>
                    <br>
                
                </div>
            </div>
      
        
        <br>
    </div>
    <div class="redeem-box">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="container-1">
                        <div class="card products">
                            {{!-- <div class="imgBx">
                            <img src="https://assets.codepen.io/4164355/shoes.png">
                            </div> --}}
                            <div class="contentBx">
                            <h2>Products</h2>
                            <br>
                            <div class="size">
                                <button class="btn btn-primary redeem"> Redeem </button>
                            </div>
    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="container-1">
                        <div class="card vouchers">
                            {{!-- <div class="imgBx">
                            <img src="https://assets.codepen.io/4164355/shoes.png">
                            </div> --}}
                            <div class="contentBx">
                            <h2>Vouchers</h2>
                            <br>
                            <div class="size">
                                <button class="btn btn-primary redeem"> Redeem </button>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}
.redeem-box{
    margin: auto;
    width:45rem;
}
.loyalty-box{
    
    color:white;
    background-color: #03a9f4;
}
.loyalty-card{
    margin: auto;
    margin-top:40px;
   
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border:none;
}
.point-card{
    position: absolute;
    right:23px;
    top:16px;
}
.points{
    float: right;
}
.rank{
    float: right;
}
.total-points{
    font-weight:600; 
}
/* Voucher & Product Redeem */
.container-1{
  position: relative;
  
}

.container-1 .card{
  position: relative;
  width: 320px;
  height: 250px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  border:none;
}

.container-1 .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: #8360c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2ebf91, #8360c3); 
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container-1 .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container-1 .card.products:after{
  content: 'KEYH';
  position: absolute;
  top: 10%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(25, 247, 255, 0.082)
}
.container-1 .card.vouchers:after{
  content: 'HUB';
  position: absolute;
  top: 10%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(25, 247, 255, 0.082)
}


.container-1 .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container-1 .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container-1 .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container-1 .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container-1 .card:hover .contentBx{
  height: 210px;
}

.container-1 .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}
.container-1 .card .contentBx .redeem{
  position: relative;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container-1 .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container-1 .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container-1 .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container-1 .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container-1 .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container-1 .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container-1 .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container-1 .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container-1 .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container-1 .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container-1 .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

</style>