<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<main class="container my-3">
    <h1>User Table</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/staff/">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">User</li>
        </ol>
    </nav>
    <table id="user-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Is Staff</th>
                <th>Disabled</th>
                <th>Auth</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.username}}</td>
                <td class="text-truncate">{{this.email}}</td>
                <td>{{this.isStaff}}</td>
                <td>{{this.disabled}}</td>
                <td>{{this.authMethod}}</td>
                <td><a href="/staff/user/{{this.id}}">View</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</main>
<script>
    $(document).ready(function () {
        $('#user-table').DataTable();
    });
</script>