<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<div class="container">
	<div class="shadow card card-body ">
		<form action="/staff/manage-vouchers/editVoucher/{{voucher.id}}" method="POST">
		
			<h3 >Update Coupon</h3>
	
			<div class="mb-3">
				<label for="coupon_id" class="form-label">Coupon Name</label>
				<input type="text" class="form-control" id="coupon_name" name="coupon_name" value="{{voucher.coupon_name}}" required>
			</div>
			 <div class="mb-3">
				<label for="coupon_desc" class="form-label">Coupon Description</label>
				<input type="text" class="form-control" id="coupon_desc" name="coupon_desc" value="{{voucher.coupon_desc}}" required>
			</div>
			<div class="mb-3">
				<label for="coupon_id" class="form-label">Coupon Value</label>
				<input type="number" class="form-control" id="coupon_value" name="coupon_value" value="{{voucher.coupon_value}}" required>
			</div>
			<div class="mb-3">
				<label for="coupon_type">Coupon Type</label>
				<select class="form-control" id="coupon_type" name="coupon_type" value="{{voucher.coupon_type}}">
					<option value="Cashback">Cashback</option>
					<option value="Discount">Discount</option>
				</select>
			</div>
						
			<div class="mb-3">
				<label for="coupon_id" class="form-label">Coupon ID</label>
				<input type="text" class="form-control" id="coupon_id" readonly name="coupon_id"value="{{voucher.coupon_id}}">
			</div>
			<div class="mb-3">
				<label for="coupon_qty" class="form-label">Coupon Quantity</label>
				<input type="number" class="form-control" id="coupon_qty" name="coupon_qty" value="{{voucher.coupon_qty}}" required>
			</div>
			<div class="mb-3" id="timedisplay" >
				<label for="start_date" class="form-label">Start Date</label>
				
				<input type="text" id="timepicker" width="234" class="" name="start_date" />
            </div>
			<div class="mb-3" id="timedisplay" >
				<label for="end_date" class="form-label">End Date</label>
				
				<input type="text" id="timepicker_2" width="234" class="" name="end_date" />
            </div>
			<label for="" class="form-label">Status</label>
			
			<div class=" btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-success col-2" id="status_choice_1" onclick="status_choice_1()" >
					<input type="radio" name="coupon_status" id="coupon_status_1" value="Valid" autocomplete="off" checked> Valid
				</label>
				
				<label class="btn col-2" id="status_choice_2" onclick="status_choice_2()" >
					<input type="radio" name="coupon_status" id="coupon_status_2"  autocomplete="off" value="Expired"> Expired
				</label>
			</div>
			<br>
			<div class="row">
				<div class="col-10 ">
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
				
				<button type="button" class="col-2 btn btn-primary"> <a href="/staff/manage-vouchers" style="text-decoration:none; color:white;">Return</a></button>
			</div>
			
		</form>
	</div>
</div>

<script>
	$('#timepicker').datetimepicker({
            uiLibrary: 'bootstrap4',
            modal: true,
            footer: true
        });
	$('#timepicker_2').datetimepicker({
		uiLibrary: 'bootstrap4',
		modal: true,
		footer: true
	});
    function status_choice_2(){
        document.getElementById("status_choice_2").classList.add('btn-danger');
        document.getElementById("coupon_status_2").name = "coupon_status";
        console.log(document.getElementById("coupon_status_2").name)
        document.getElementById("status_choice_1").classList.remove('btn-success');
        document.getElementById("coupon_status_1").name = "";
        console.log("ii")

    }
    function status_choice_1(){
        document.getElementById("status_choice_1").classList.add('btn-success');
        document.getElementById("coupon_status_1").name = "coupon_status";
        console.log(document.getElementById("coupon_status_1").name)
        document.getElementById("status_choice_2").classList.remove('btn-danger');
        document.getElementById("coupon_status_2").name = "";
        console.log("ii")

    }
</script>

<!-- /.container-fluid -->


<!-- End of Main Content -->

<!-- Footer -->