

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <a href="/staff" class="btn btn-secondary" style="margin-bottom: 20px"><i class="fas fa-arrow-left" aria-hidden="true" style="margin-right: 5px"></i>Back</a><br>
              <div class="bg-gradient-dark text-white shadow-lg " style="padding: 35px;">
      <h1 class="h3 mb-2 " style=" color:white;">Account Management</h1>
      <p class="mb-4">Managing Accounts.</p>
    </div>
                    <!-- Page Heading -->
                 
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                   <a href="/staff/accounts/add"> <button type="button" class="btn btn-success" style="margin-bottom: 30px">Add User <i class="fas fa-plus"></i></button></a>
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                              <th>Permission Level</th>
                                            <th>Action</th>
                                          
                                    
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                        <th>ID</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                                  <th>Permission Level</th>
                                            <th>Action</th>
                                      
                                    
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {{#each users }}
                                        <tr>
                                            <td>{{this.id}}</td>
                                            <td>{{this.username}}</td>
                                            <td>{{this.email}}</td>
                                            <td>{{this.isStaff}}</td>
                                            <td><a href="/staff/accounts/{{this.id}}" class="btn btn-info">Edit</a></td>
                                           
                                        </tr>
                                        {{/each }}
                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

  
            <!-- End of Main Content -->

            <!-- Footer -->

