<div class="container-fluid">
    <div class="d-flex bg-gradient-primary align-items-center p-4 shadow text-white">
        <div>
            <h1 class="h3 mb-2">Ticket Management</h1>
            <span>To see your tickets</span>
        </div>
    </div>
    <div class="card shadow my-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tickets</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Status</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Severity</th>
                            <th>Category</th>
                            <th>Author ID</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Status</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Severity</th>
                            <th>Category</th>
                            <th>Author ID</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{#each tickets}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>
                                    <span class="badge p-2" style="color: white; background-color:
                                    {{#equals this.status "open"}}
                                    #34A853
                                    {{/equals}}
                                    {{#equals this.status "closed"}}
                                    #6E53D3
                                    {{/equals}}
                                    ;">
                                    {{this.status}}
                                    </span>
                                </td>
                                <td>{{this.title}}</td>
                                <td>{{this.description}}</td>
                                <td>{{this.severity}}</td>
                                <td>{{this.category}}</td>
                                <td>{{this.authorID}}</td>
                                <td>
                                    <a
                                        href="/staff/tickets/{{this.id}}"
                                        class="btn btn-info"
                                    >View</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>