

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="">
                    <!--<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
                    <div class="col-lg-7" style="max-width: 100%">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Edit {{user.username}} [id: {{user.id}}]<h1>
                            </div>
                            <form method="POST" action="/staff/accounts" class="user">
                                <div class="form-group row">
                                   Change Username: <input type="text" style="max-width: 980px; margin-left: 10px" class="form-control form-control-user" name="username"id="exampleFirstName"
                                            placeholder="Username" name="username "value="{{user.username}}">
                                   
                                </div>
                                <div class="form-group">
                                   Change Email: <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address" value="{{user.email}}">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                     Change Password:   <input type="password" name="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" value="">
                                    </div>
                                    <div class="col-sm-6" style="margin-bottom: 30px">
                                     Change Permission Level:  <input type="number" name="isStaff" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Change Permission Level" min="0" max="1" value="{{user.isStaff}}">
                                    </div>
                                </div>
                         <input type="hidden" value="{{user.id}}" name="id">
                         <input type="hidden" value="PATCH" name="method">
                                <hr>
                        <button class="btn btn-primary btn-user btn-block" style="margin-bottom: 15px; margin-top: 40px;">
                                    Save Changes
                                </button>
                            </form>
          
                     
                            <form method="POST" action="/staff/accounts" style="display:inline-block;width: 470px;">
  
                                    <input type="hidden" name="method" value="DELETE">
                                    <input type="hidden" value="{{user.id}}" name="id">
                                    <button class="btn btn-danger btn-user btn-block" style="max-width: 470px; display: inline-block; margin-right: 10px;">Delete {{user.username}}</button>
                               
                                
                            </form>
                     <form style="display:inline-block; width: 470px;" method="POST" action="/staff/accounts">
                    <input type="hidden" value="{{user.id}}" name="id">
                         <button class="btn btn-secondary btn-user btn-block" style="max-width: 470px; display: inline-block; margin-left: 10px">Disable {{user.username}}</button>
                     </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



