
{{!-- {{#each faqs }}
<div class="card">
  <div class="card-header">
    FAQ {{this.id}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.Question}}</h5>
    <p class="card-text">{{this.Answer}}</p>
    <a href="/staff/manage-faqs/updatefaqs/{{this.id}}" class="btn btn-primary">Update</a>
  </div>
</div>

{{/each }} --}}


<h1 class="display-4">FAQs</h1>

<form>
  <div class="d-none d-sm-inline-block form-inline navbar-search " style='padding-bottom: 20px;'>
  <div class="input-group">
      <input type="text" class="form-control bg-light border-0 small" placeholder="FAQs ID..."
         aria-label="Search" aria-describedby="basic-addon2">
     <div class="input-group-append">
          <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
          </button>
     </div>
  </div>
  </div>
  <button type="button" class="btn btn-outline-info">
    <a href="/staff/manage-faqs">Create FAQs</a>
  </button>
</form>


{{#each faqs }}
<div class="card">
  <div class="card-header">Question {{this.id}}: <br>
    {{this.Question}}
  </div>
  <div class="card-body">
    <p class="card-text">
      Answer: {{this.Answer}} <br>
    </p>
  </div>
  <div class="card-body">
    <p class="card-text">
      Date of Creation: {{this.CreatedAt}} <br>
    </p>
    <div class="row">
      <div class="col-1">
        <a href="/staff/manage-faqs/updatefaqs/{{this.id}}" class="btn btn-primary">Update</a>
      </div>
      <div class="col-1">
          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#weModal_{{this.id}}">
            View
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="weModal_{{this.id}}" tabindex="-1" aria-labelledby="{{this.Question}}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="{{ this.Question }}">Information</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                {{this.CreatedAt}}
                  <br>
                {{this.CreatedBy}}   
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-1">
        {{!-- <form action="/deletefaqs/{{this.id}}"  method="POST"> --}}
                
          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#mmyModal_{{this.id}} ">
            Delete
          </button>

          <!-- The Modal -->
          <div class="modal" id="mmyModal_{{this.id}}">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Delete Confirmation</h4>
                  <button type="button" class="btn-close" data-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  Are you sure you want to delete Question {{this.Question}}?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger">
                    <a href="/staff/manage-faqs/deletefaqs/{{this.id}}">Delete</a>
                  </button>

                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<br><br>
{{/each }}

<style>
  a:link{ color: white; text-decoration: none;}
</style>

