    

<div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="">
                    <!--<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
                    <div class="col-lg-7" style="max-width: 100%">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Updating {{product.name}}<h1>
                            </div>
                            <form method="POST" action="/staff/product/update" enctype="multipart/form-data"> 
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name = "name" placeholder="{{product.name}}" required>
                                </div>
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name = "description" placeholder="{{product.description}}" required></textarea>
                                </div>
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Category</label>
                                <br>
                                <select name="category" class="form-control" id="exampleFormControlInput1" required>
                                    <option value="" disabled selected>Choose a Category</option>
                                    <option value="Pre-Built Keyboard">Pre-Built Keyboard</option><!--value is what is sent to the db-->
                                    <option value="Barebones Kit">Barebones Kit</option>
                                    <option value="Keycap">Keycaps</option>
                                    <option value="Switches">Switches</option> 
                                    <option value="Accessories">Accessories</option>
                                </select>
                                </div>
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Brand</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name = "brand" placeholder="Enter Description Here" required></textarea>
                                </div>
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Stock</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" name = "stock" placeholder="{{product.stock}}" required>
                                </div>
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Price</label>
                                <input type="number" min="0.01" max="9999.99" step="0.01" class="form-control" id="exampleFormControlInput1" name = "price" placeholder="{{product.price}}" required>
                                </div>
                                <div>
                                    <label for="exampleFormControlInput1" class="form-label">Colour</label>
                                    <br>
                                    <select name="colour" class="form-control" id="exampleFormControlInput1" required>
                                    <option value="" disabled selected>Choose a Colour</option>
                                    <option value="red">Red</option>
                                    <option value="green">Green</option>
                                    <option value="blue">Blue</option>
                                </select>
                                </div>
                                  <div class="mb-3">
                               <div class="upload__box">
                                    <div class="upload__btn-box">
                                        <label class="upload__btn">
                                        <p>Upload image</p>
                                        <input type="file" name="myImage" accept="image/*" class="upload__inputfile" required>
                                        </label>
                                    </div>
                                    <div class="upload__img-wrap" style="width: 100px; height: 100px ">

                                    </div> 
                                </div>
                                <hr>
                                <button class="btn btn-primary btn-user btn-block" style="margin-bottom: 15px; margin-top: 40px;" name = "id" value = {{product.id}}>
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<!--
    input format
                                <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Test Input</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name = "test" placeholder="" >
                                </div>
                                >