
<br>
<h3 class="text-center" style="color: rgb(106, 49, 49);">Frequently Asked Questions</h3>
<br>
<div class="container">
<div class="accordion" id="accordionExample">
    {{#each faqs}}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne{{this.id}}" aria-expanded="true" aria-controls="collapseOne{{this.id}}">
        {{ this.count }}: {{ this.Question }} 
        </button>
      </h5>
    </div>

    <div id="collapseOne{{this.id}}" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        {{ this.Answer }} 
      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>
