<meta http-equiv="refresh">



<!-- ========================= SECTION PAGETOP ========================= -->

<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<main class="col-md-9">
<div class="card">

<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>
{{#each cart.cartProducts}}
	<tr>
		<td>
			<figure class="itemside">
				<div class="aside"><img src="/{{this.image}}" class="img-sm"></div>
				<figcaption class="info">
					<a href="#" class="title text-dark">{{this.name}}</a>
					<p class="text-muted small"> {{this.category}} <br> Brand: {{this.brand}}</p>
				</figcaption>
			</figure>
		</td>
		<td> 
			<div class="d-flex justify-content-center">
				<form action="/cart/{{this.CartItem.id}}/add" method="POST">
					<button type="submit" class="btn btn-sm btn-outline-secondary">+</button>
				</form>
				<span style="margin: 0 20px;">
					{{this.CartItem.quantity}}
				</span>
				<form action="/cart/{{this.CartItem.id}}/sub" method="POST">
					<button type="submit" class="btn btn-sm btn-outline-secondary">-</button>
				</form>
          	</div>
		</td>
		<td> 
			<div class="price-wrap"> 
				<var class="price">$ {{multiply this.price this.CartItem.quantity}}</var> 
				<small class="text-muted"> {{this.price}} each</small> 
			</div> <!-- price-wrap .// -->
		</td>
		<td class="text-right"> 
		{{!-- <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>  --}}
			<form action="/cart/{{this.CartItem.id}}" method="GET">
				<button type="submit" class="btn btn-link" style="color: red;">
              		<i class="fas fa-trash"></i>
            	</button>
			</form>
		</td>
	</tr>
{{/each}}
</tbody>
</table>

<div class="card-body border-top">
	<form action="/order" method="GET">
		<button type="submit" class="btn btn-dark float-md-right">
			Make Purchase
			<i class="fa fa-chevron-right"></i>
		</button>
	</form>
	{{!-- <a href="/order" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a> --}}
	<a href="/" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
</div>	
</div> <!-- card.// -->

<div class="alert alert-success mt-3">
	<p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
</div>

	</main> <!-- col.// -->
	<aside class="col-md-3">
		<div class="card mb-3">
			<div class="card-body">
			
				<div class="form-group">
					<label>Have coupon?</label>
					{{#if code}}
					<form action="/cart/removevoucher/{{code}}" method="POST">
						<div class="input-group">
							<input type="text" class="form-control" name="voucher_code" placeholder="{{code}}" disabled>
							<span class="input-group-append"> 
								<button type="submit" class="btn btn-danger">Remove</button>
							</span>
						</div>
					</form>
					{{else}}
					<form action="/cart/applyvoucher" method="POST">
						{{#if code}}
							<input type="text" class="form-control" value="{{code}}" name="previous_code" placeholder="Coupon code" hidden>
						{{/if}}
						<div class="input-group">
							<input type="text" class="form-control" name="voucher_code" placeholder="{{code}}">
							<span class="input-group-append"> 
								
								<button type="submit" class="btn btn-dark">Apply</button>
								
							</span>
						</div>
					</form>
					{{/if}}
					<br>
					{{#if code}}
					<div class="row">
						<div class="col-6">
							<div>Code Applied:</div>
						</div>
						<div class="col-6">
							<div class="text-right"><strong>{{code}}</strong> </div>
						</div>
					
					</div>
					{{/if}}
				</div>
			
			</div> <!-- card-body.// -->
		</div>  <!-- card .// -->
		<div class="card">
			<div class="card-body">
					<dl class="dlist-align">
						
					  <dt>Sub-Total:</dt>
					  <dd class="text-right"><strong>${{totalPrice}}</strong></dd>
					</dl>
					<dl class="dlist-align">
					  
					  {{#if discount}}
					  <dt>Discount:</dt>
					  <dd class="text-right">$<strong>{{discount}}</strong> </dd>
					  {{/if}}
					  {{#if cashback}}
					  <dt>Cashback:</dt>
					  <dd class="text-right">+ <strong>{{cashback}}</strong> <i class="fa-solid fa-coins"></i></dd>
					  {{/if}}
					  {{#equals no_discount 0}}
					  
					  <dt>Discount:</dt>
					  <dd class="text-right">- $<strong>{{no_discount}}</strong></dd>
					  {{/equals}}

					</dl>
					{{!-- {{#if code}}
					<dl class="dlist-align">
					  <dt>Code Applied:</dt>
					  <dd class="text-right"><strong>{{code}}</strong> </dd>
						<form action="/cart/removevoucher/{{code}}" method="POST">
							<button type="submit" class="btn btn-danger">Remove</button>
						</form>
					</dl>
					{{/if}} --}}
					{{#equals shipping 0}}
					<dl class="dlist-align">
						<dt>Shipping:</dt>
						<dd class="text-right"><strong>FREE</strong></dd>
					</dl>
					{{/equals}}
					{{#equals shipping 5}}
					<dl class="dlist-align">
						<dt>Shipping:</dt>
						<dd class="text-right"><strong>${{shipping}}</strong></dd>
					</dl>
					{{/equals}}
					<hr>
					<dl class="dlist-align">
					{{#if cashback}}
					  <dt>Total:</dt>
					  <dd class="text-right  h5">$<strong>{{totalPrice}}</strong></dd>
					{{else}}
					  <dt>Total:</dt>
					  <dd class="text-right  h5">$<strong>{{discount_price}}</strong></dd>
					{{/if}}
					</dl>
					<hr>
					<p class="text-center mb-3">
						<img src="images/misc/payments.png" height="26">
					</p>
					
			</div> <!-- card-body.// -->
		</div>  <!-- card .// -->
	</aside> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name bg padding-y">
<div class="container">
<h6>Payment and refund policy</h6>
<p>Latest Updates. All returns are valid only for up to 7 days from day of receving goods with original receipts
	To return an item, please contact the customer service via the hotline +65 8903 3844 or you can email us at Keyhub1@gmail.com.All returns will not be reimbursed
	and you will have to pay for your shipping charges if needed.For any defective goods please contact us via our website through our chat bot ChatUrd. Thank You !
</p>

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->



