<!-- ========================= SECTION PAGETOP ========================= -->

<script>$(document).on("change", ".uploadProfileInput", function () {
    var triggerInput = this;
    var currentImg = $(this).closest(".pic-holder").find(".pic").attr("src");
    var holder = $(this).closest(".pic-holder");
    var wrapper = $(this).closest(".profile-pic-wrapper");
    $(wrapper).find('[role="alert"]').remove();
    triggerInput.blur();
    var files = !!this.files ? this.files : [];
    if (!files.length || !window.FileReader) {
      return;
    }
    if (/^image/.test(files[0].type)) {
      // only image file
      var reader = new FileReader(); // instance of the FileReader
      reader.readAsDataURL(files[0]); // read the local file

      reader.onloadend = function () {
        $(holder).addClass("uploadInProgress");
        $(holder).find(".pic").attr("src", this.result);
        $(holder).append(
          '<div class="upload-loader"><div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div></div>'
        );

        // Dummy timeout; call API or AJAX below
        setTimeout(() => {
          $(holder).removeClass("uploadInProgress");
          $(holder).find(".upload-loader").remove();
          // If upload successful
          if (Math.random() < 0.9) {
            $(wrapper).append(
              '<div class="snackbar show" role="alert"><i class="fa fa-check-circle text-success"></i> Profile image updated successfully</div>'
            );

            // Clear input after upload
            // $(triggerInput).val("");

            setTimeout(() => {
              $(wrapper).find('[role="alert"]').remove();
            }, 3000);
          } else {
            $(holder).find(".pic").attr("src", currentImg);
            $(wrapper).append(
              '<div class="snackbar show" role="alert"><i class="fa fa-times-circle text-danger"></i> There is an error while uploading! Please try again later.</div>'
            );

            // Clear input after upload
            $(triggerInput).val("");
            setTimeout(() => {
              $(wrapper).find('[role="alert"]').remove();
            }, 3000);
          }
        }, 1500);
      };
    } else {
      $(wrapper).append(
        '<div class="alert alert-danger d-inline-block p-2 small" role="alert">Please choose the valid image.</div>'
      );
      setTimeout(() => {
        $(wrapper).find('role="alert"').remove();
      }, 3000);
    }
  });
</script>


<style>
  .profile-pic-wrapper {
    margin-top: 20px;
    margin-bottom: -40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pic-holder {
    text-align: center;
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .pic-holder .pic {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .pic-holder .upload-file-block,
  .pic-holder .upload-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 92, 105, 0.7);
    color: #f8f9fc;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }

  .pic-holder .upload-file-block {
    cursor: pointer;
  }

  .pic-holder:hover .upload-file-block,
  .uploadProfileInput:focus~.upload-file-block {
    opacity: 1;
  }

  .pic-holder.uploadInProgress .upload-file-block {
    display: none;
  }

  .pic-holder.uploadInProgress .upload-loader {
    opacity: 1;
  }

  /* Snackbar css */
  .snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
    transform: translateX(-50%);
  }

  .snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }

    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }

    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }

    to {
      bottom: 0;
      opacity: 0;
    }
  }

  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }

    to {
      bottom: 0;
      opacity: 0;
    }
  }
</style>

<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">
       <ul class="list-group">
			<a class="list-group-item active" href="/account" style="background-color: black;border:none"> Account overview  </a>
			<a class="list-group-item " href="/account/orderhistory" style="color: black;"> My Orders </a>
			<a class="list-group-item" href="/account/review" style="color: black;"> My Comments </a>
			<a class="list-group-item" href="#" style="color: black;"> Return and refunds </a>
            <a class="list-group-item " href="/account/myvouchers" style="color: black;"> Vouchers</a>
			<a class="list-group-item " href="/account/loyaltyprogram" style="color: black;"> Rewards Program</a>
		</ul>
      </aside> <!-- col.// -->
      <main class="col-md-9">

        <article class="card mb-3">
          <div class="card-body">


            <form method="POST" action="/account/edit" enctype="multipart/form-data">
              <center><figure class="" style="width: 100%;">
                <div class="icon" style="">


                    
                      <div class="pic-holder">
                        <!-- uploaded pic shown here -->
                        <img id="profilePic" class="pic" src="{{imageAsBase64}}" style="width:150px;height:150px;">

                        <input class="uploadProfileInput" type="file" name="myImage" id="newProfilePhoto" accept="image/*"
                          style="opacity: 0;" />
                        <label for="newProfilePhoto" class="upload-file-block">
                          <div class="text-center">
                            <div class="mb-2">
                              <i class="fa fa-camera fa-2x"></i>
                            </div>
                            <div class="text-uppercase">
                              Update <br /> Profile Photo
                            </div>
                          </div>
                        </label>
                      </div>
                      
                   
                   
                  
                
                </div>

              </figure>
              </center>
              <hr>
              
              <hr>
              <div class="form-group">

                Username: <input name="username" class="form-control" value="{{user.username}}"
                  placeholder="Enter Username" type="text">
              </div> <!-- form-group end.// -->


              <div class="form-group">
                Email: <input name="email" value="{{user.email}}" class="form-control" placeholder="Enter Email"
                  type="email">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div> <!-- form-group end.// -->



              <div class="form-group">
                Address: <input name="address" value="{{user.address}}" class="form-control" id="address" placeholder="Enter Address">

              </div> <!-- form-group end.// -->


              <div class="form-row">
                <div class="form-group col-md-6">
                  Change Password:
                  <input name="password" class="form-control" placeholder="Enter Password" type="password">
                </div> <!-- form-group end.// -->
                <div class="form-group col-md-6">
                  Repeat Password (If you changed your password):
                  <input name="repeatpassword" class="form-control" placeholder="Enter Repeat Password" type="password">
                </div> <!-- form-group end.// -->

              </div>
              <input type="hidden" value="{{user.id}}" name="id">

              <div class="form-group">
                <button type="submit" class="btn btn-dark btn-block">Update Profile</button>
              </div> <!-- form-group// -->
            </form>

          </div> <!-- card-body .// -->
        </article> <!-- card.// -->


      </main> <!-- col.// -->
    </div>

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM1ZMu66KPIiw0T2BgUo0Y77EKGlyp9eI&libraries=places&callback=initialize"></script>
<script  >
  



 function initialize() {
    var input = document.getElementById('address');
    var autocomplete = new google.maps.places.Autocomplete(input);
}
</script>
{% endblock %}