


<!-- ========================= SECTION PAGETOP ========================= 
<section class="section-pagetop bg">
<div class="container">
	<h2 class="title-page">Category products</h2>
	<nav>
	<ol class="breadcrumb text-white">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item"><a href="#">Best category</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Great articles</li>
	</ol>  
	</nav>
</div>
</section>
 ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	
	<main class="col-md-10">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline" style="width: 100%;">
			<span class="mr-md-auto">{{items}} found</span>

		</div>
</header><!-- sect-heading -->
<!-- extras
<span class="badge badge-danger"> NEW </span>
<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				
				<img src="images/items/1.jpg">
				
			</div> 
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="#" class="title">Great item name goes here</a>
					<div class="price-wrap mt-2">
						<span class="price">$1280</span>
						<del class="price-old">$1980</del>
					</div> 
				</div>
				<a href="#" class="btn btn-block btn-primary">Add to cart </a>
			</figcaption>
		</figure>
	</div> 
-->
<div class="row" style="margin-bottom: 100px;">
	{{#each display}}
	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<img src="/{{this.image}}">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<form action="/Cproducts/desc" method="POST">
						{{!-- <button name = "productID" value="{{this.id}}">{{this.name}}</button> --}}
						<a href="/Cproducts/detail/{{this.id}}">{{this.name}}</a>
					</form> 
					<div class="price-wrap mt-2"> 
						<span class="price">${{this.price}}</span>
					</div> <!-- price-wrap.// -->
					<div>
						{{#equals this.category "Pre-Built Keyboard"}}
						<span>Colour: {{this.colour}}</span>
						{{else}}
						{{#equals this.category "Barebone Kit"}}
						<span>Colour: {{this.colour}}</span>
						{{else}}
						<span>Category: {{this.category}}</span>
						{{/equals}}
						{{/equals}}
						</div>						
				</div>
				
					<form action="/cart/postcart" method="POST">
						<input type="hidden" name="productId" value="{{this.id}}">
						<button type="submit" class="btn btn-dark addtocart" style="float:right"><i class="list fas fa-shopping-cart fa-1x" style="color:white;"></i> Add to Cart</button>
					</form>
              	
			</figcaption>
		</figure>
	</div> <!-- col.// -->
	{{/each}}
</div> <!-- row end.// -->




	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



<style>
	.list.i.fa-shopping-cart{
		color: white;
	}
	
</style>

